<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../src/css/styles.css"/>
</head>
<body>

<form id="home-page">
    <h2>Welcome to the moving puzzle game!</h2>
    <span>Before starting playing the game, you'll need to create an account!</span>
    <br>
    <div class="buttons-register-login">
        <button class="greenButton"><a href="registration.html" data-link>Register</a></button>
        <button class="redButton"><a href="login.html" data-link>Login</a></button>
    </div>
</form>

</body>
</html>